
.inputs {
        margin-left: 3%;
        .input {
            .label {
                margin-top: 1%;
            }
            .input-primary {
                margin-right: 1%;
            }
        }
}

