.account-posting {
    padding: 2% 2% 2% 4%;
    .title {
        font-family: Verdana;
        font-size: 20px;
        margin-bottom: 2%;
    }
    .inputs {
        margin-left: 3%;
        .input {
            .label {
                margin-top: 1%;
            }
            .input-primary {
                margin-right: 1%;
            }
        }
    }
    
}