
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" ng-repeat="header in $ctrl.headers">{{header.name}}</th>        
      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="content in $ctrl.contents">
        <!-- <td ng-repeat="item in content">{{item}}</td> -->
        <td>{{content.cnpjRoot}}</td> 
        <td>{{content.date}}</td>
        <td>{{content.paymentType}}</td>  
        <td>{{content.cardBrand}}</td>
        <td>{{content.grossAmount}}</td>
        <td>{{content.netAmount}}</td>
        <td><app-button content="content"></app-button></td>        
        
      </tr>
    </tbody>
  </table>
</div>

